.container1{
    background-color: rgb(27, 57, 95);
    height: fit-content;
    padding-top: 0%;
    padding-left: 80px;
    color: antiquewhite;
    
}
.Coding{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:20px ;
}